#footer {
  position: absolute;
  bottom:18px; left:0;
  width:100%;
  padding:0 $gutter;
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    width:100%;
    .email {
      color:black;
      font-size: 15px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
    }
    .hire {
      color:black;
      font-size: 15px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
    }
  }
}
