#footer {
  position: absolute;
  bottom:13px; left:10px;
  padding:0 55px;
  .email {
    color:black;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
  }
}
