#navigation {
  display: flex;
  justify-content: space-between;
  padding:26px 60px 22px 60px;
  margin-bottom:11px;
  .identity {
    display: flex;
    flex-direction: row;
    .picture {
      width:43px;
      margin-right:10px;
      border-radius: 2px;
      img {
        width:100%;
        border-radius: 2px;
        box-shadow: 0 2px 0 rgba(black,.085);
      }
    }
    .details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .name {
        color:rgba(#1F1610,1);
        font-size:16.5px;
        font-weight:600;
        font-family: 'Open Sans', sans-serif;
        margin-top:-2px;
        margin-bottom:6.5px;
      }
      .role {
        color:rgba(black,.8);
        font-size:15.5px;
        font-weight:500;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
  .links {
    display: flex;
    align-items: center;
    a {
      color:rgba(black,.75);
      font-size:15px;
      font-weight:600;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
      margin-left:23px;
      &:hover {
        color:black;
      }
      &.active {
        color:black;
        font-weight:700;
      }
    }
  }
}
