#work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:0 $gutter - $gutter-extra 0 $gutter - $gutter-extra;
  .item {
    width:25%;
    padding:0 $gutter-extra;
    margin-bottom:27px;
    .picture {
      width:100%;
      img {
        width:100%;
        border-radius:1px;
        box-shadow: 0 1px 4px rgba(black,.004);
      }
    }
    .details {
      margin-top:8px;
      .title {
        font-size:14px;
        font-weight:700;
        font-family: 'Open Sans', sans-serif;
        margin-bottom:6px;
      }
      .description {
        font-size:14px;
        font-weight:400;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
}
