/* framework */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  width: 100%;
  height: 100%; }
  html body {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0079); }
    html body ::selection {
      background: rgba(0, 0, 255, 0.04);
      /* WebKit/Blink Browsers */ }
    html body ::-moz-selection {
      background: rgba(0, 0, 255, 0.04);
      /* Gecko Browsers */ }
  html, html * {
    box-sizing: border-box; }

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* positions */
/* transitions */
/* fade in */
@keyframes fade-in {
  0% {
    opacity: 0; }
  75% {
    opacity: .75; }
  100% {
    opacity: 1; } }
/* pages */
#navigation {
  display: flex;
  justify-content: space-between;
  padding: 26px 60px 22px 60px;
  margin-bottom: 20px; }
  #navigation .identity {
    display: flex;
    flex-direction: row; }
    #navigation .identity .picture {
      width: 43px;
      margin-right: 10px;
      border-radius: 2px; }
      #navigation .identity .picture img {
        width: 100%;
        border-radius: 2px;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.085); }
    #navigation .identity .details {
      display: flex;
      justify-content: center;
      flex-direction: column; }
      #navigation .identity .details .name {
        color: #1f1610;
        font-size: 17px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        margin-top: -2px;
        margin-bottom: 6px; }
      #navigation .identity .details .role {
        color: rgba(0, 0, 0, 0.8);
        font-size: 16px;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif; }
  #navigation .links {
    display: flex;
    align-items: center; }
    #navigation .links a {
      color: rgba(0, 0, 0, 0.75);
      font-size: 15px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
      margin-left: 23px; }
      #navigation .links a:hover {
        color: black; }
      #navigation .links a.active {
        color: black;
        font-weight: 700; }

#work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 54px 0 53px; }
  #work .item {
    width: 25%;
    padding: 0 7px;
    margin-bottom: 30px; }
    #work .item .picture {
      width: 100%; }
      #work .item .picture img {
        width: 100%;
        border-radius: 1px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.004); }
    #work .item .details {
      margin-top: 8px; }
      #work .item .details .title {
        font-size: 14px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 6px; }
      #work .item .details .description {
        font-size: 14px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif; }

/*# sourceMappingURL=app.css.map */
